In [1]:
import pandas as pd

In [2]:
df = pd.read_excel("week7.xlsx")
df

,Order ID,Order Date,Customer ID,Segment,Region,Category,Product Name,Price,Quantity,Discount,Sales
0,CA-2016-152156,2016-11-08,EB-13930,Хувь хүн,Баянзүрх,"Чихэр, печенье",Shokolinsen 250 гр,3300,2,0.00,6600.0
1,CA-2016-152156,2016-11-08,EB-13930,Хувь хүн,Баянзүрх,"OO ийн цаас, сальфетка",Хэрэглээ 00ийн цаас,500,3,0.00,1500.0
2,CA-2016-138688,2016-06-12,MO-17950,Байгууллага,Хан-Уул,"Чихэр, печенье",Алимтай жигнэмэг 230 гр,3100,2,0.00,6200.0
3,US-2015-108966,2015-10-11,JO-15550,Хувь хүн,Баянзүрх,Хиам бууз,Золотой янта 500 гр,2800,5,0.00,14000.0
4,US-2015-108966,2015-10-11,JO-15550,Хувь хүн,Баянзүрх,Ундаа ус,Punch 450 мл,1150,2,0.00,2300.0
...,...,...,...,...,...,...,...,...,...,...,...
95,US-2017-109484,2017-11-06,JR-15700,Гишүүн,Хан-Уул,"Компот варенье, хүүхдийн тэжээл",Hainich нухаш,3300,1,0.03,3201.0
96,CA-2017-161018,2017-11-09,AJ-10945,Гишүүн,Сүхбаатар,Самар чипс,Lays чипс 80 гр,2300,7,0.03,15617.0
97,CA-2017-157833,2017-06-17,BM-11575,Хувь хүн,Хан-Уул,"Набор, шоколад, бохь",Монстров 23 гр,500,3,0.00,1500.0
98,CA-2016-149223,2016-09-06,CV-12805,Байгууллага,Чингэлтэй,Архи пиво,Арвай 0.100,2000,6,0.00,12000.0
99,CA-2016-158568,2016-08-29,DK-12835,Гишүүн,Чингэлтэй,Бэлэн гоймон,Тэйсти гоймон 110 гр,1800,7,0.03,12222.0

In [3]:
df.loc[78:88,['Product Name','Sales']]

                           Product Name    Sales
78          Чихэр кг Конфет Кино 400 гр  15000.0
79                        Cocoro 100 гр   2300.0
80                     3н өнгийн алчуур   3300.0
81           Оргилуун ус жимстэй 500 мл   5250.0
82                     Видан зөгийн бал   3300.0
83                      Сор жүүс 200 мл   3500.0
84                 Гурвалжин шоко 22 гр   1746.0
85                        Гоё тетра 1 л   3200.0
86                     Хараа 0.75 цэвэр  11500.0
87              Шпрот урт татдаг 190 гр   7000.0
88  Bagro хүрэн манжингийн салат 500 мл  14938.0

In [4]:
df.loc[:,['Quantity','Sales']]

    Quantity    Sales
0          2   6600.0
1          3   1500.0
2          2   6200.0
3          5  14000.0
4          2   2300.0
..       ...      ...
95         1   3201.0
96         7  15617.0
97         3   1500.0
98         6  12000.0
99         7  12222.0

[100 rows x 2 columns]

In [5]:
df.loc[:,['Quantity','Sales']].sum()

Quantity        374.0
Sales       1115166.5
dtype: float64

In [6]:
df.loc[:,['Product Name']]

               Product Name
0        Shokolinsen 250 гр
1       Хэрэглээ 00ийн цаас
2   Алимтай жигнэмэг 230 гр
3       Золотой янта 500 гр
4              Punch 450 мл
..                      ...
95            Hainich нухаш
96          Lays чипс 80 гр
97           Монстров 23 гр
98              Арвай 0.100
99     Тэйсти гоймон 110 гр

[100 rows x 1 columns]

In [7]:
df['Product Name'].unique()

array(['Shokolinsen 250 гр', 'Хэрэглээ 00ийн цаас',
       'Алимтай жигнэмэг 230 гр', 'Золотой янта 500 гр', 'Punch 450 мл',
       'Помидор том', 'Слава хивэг 400 гр', 'Үзгэн бал арилгадаг',
       'Lady 20 ш', '370 Жүүс 370 мл', 'Саль ариун 30 ш', 'Pysio 300 мл',
       'A vodka 0.5', 'Өгөөж танзуур', 'Vita жимстэй ус 510 мл',
       'Алое шилтэй 180 мл', 'Power 400 g',
       'Пломбир на сливках 80 гр савтай', 'Удон гоймон ууттай',
       'M&M 45 гр', 'Витафит ус 500 мл', 'Памперс №4',
       'Solpro майонез 3 л 67 %', 'Магнат 80 гр',
       'Хувцасны өлгүүр 5 ш алаг', 'Шингэн чихэр', 'Akuku резин 90 гр',
       'Сахлын татуурга Gilette', 'Русский сахар 250 гр',
       'Бэлэн гоймон төмстэй', 'Хүслийн ундаа 500 мл',
       'Arizona лаазтай 680 мл', 'Jacobs кофе', 'Өглөө сүү',
       'Амт чипс 55 гр', 'Эгоист 65 гр', 'Colgate total 100 гр',
       'Слава гурвалжин будаа 650 гр', 'Хараа 0.75 цэвэр',
       'Вигора 200 гр', 'Давс 1 кг', 'Mini cracker 350 гр',
       'Тоник лаазтай 330 мл', 'Tide 450 гр авто',
       'Paldo king noodle 110 гр', 'Цесна 25 кг', 'Appetita плова',
       'Саль ариун 100 ш', 'Слава каш 1 кг', 'Моя семъя 1 л',
       'Зуун наст 1.25 мл', 'Мандарин', 'Appetita будаатай хуурга',
       'Цэвэрхэн 00ийн цаас', 'Siesta үзэм 200 гр',
       'Махеевь салатны 400 мл', 'Selpak 2 хайрцаг', 'Oleina тос 1 л',
       'Чихэр кг Кокос 400 гр', 'Nivea тос 50 мл', 'Омо 100 гр',
       'Өгөөж вафли', 'Head & Shoulders 400 мл', 'Жимстэй чокопай 6 ш',
       'Соёолж 2.5 л', 'Тэргүүн 0.5', 'Витсамо ус 500 мл', 'Дашида 50 гр',
       'Заантай будаа 5 кг', 'Lays чипс 80 гр', 'Хавиргатай рагу 454 гр',
       'Хутга 1 ш', 'Нандин чавга 250 гр', 'Чинжүү',
       'Чихэр кг Конфет Кино 400 гр', 'Cocoro 100 гр', '3н өнгийн алчуур',
       'Оргилуун ус жимстэй 500 мл', 'Видан зөгийн бал',
       'Сор жүүс 200 мл', 'Гурвалжин шоко 22 гр', 'Гоё тетра 1 л',
       'Шпрот урт татдаг 190 гр', 'Bagro хүрэн манжингийн салат 500 мл',
       'Цагаан самар 50 гр', 'Махны мод дугуй', 'Биг ланч 110 гр савтай',
       'Custard 6 ш', 'Алтантүрүү 0.5', 'Фифти фифти 180 гр',
       'Hainich нухаш', 'Монстров 23 гр', 'Арвай 0.100',
       'Тэйсти гоймон 110 гр'], dtype=object)

In [8]:
df['Product Name'].nunique()

94

In [9]:
df.drop_duplicates('Product Name')

,Order ID,Order Date,Customer ID,Segment,Region,Category,Product Name,Price,Quantity,Discount,Sales
0,CA-2016-152156,2016-11-08,EB-13930,Хувь хүн,Баянзүрх,"Чихэр, печенье",Shokolinsen 250 гр,3300,2,0.00,6600.0
1,CA-2016-152156,2016-11-08,EB-13930,Хувь хүн,Баянзүрх,"OO ийн цаас, сальфетка",Хэрэглээ 00ийн цаас,500,3,0.00,1500.0
2,CA-2016-138688,2016-06-12,MO-17950,Байгууллага,Хан-Уул,"Чихэр, печенье",Алимтай жигнэмэг 230 гр,3100,2,0.00,6200.0
3,US-2015-108966,2015-10-11,JO-15550,Хувь хүн,Баянзүрх,Хиам бууз,Золотой янта 500 гр,2800,5,0.00,14000.0
4,US-2015-108966,2015-10-11,JO-15550,Хувь хүн,Баянзүрх,Ундаа ус,Punch 450 мл,1150,2,0.00,2300.0
...,...,...,...,...,...,...,...,...,...,...,...
94,CA-2015-149587,2015-01-31,NS-18640,Хувь хүн,Чингэлтэй,Зайрмаг,Фифти фифти 180 гр,2750,2,0.00,5500.0
95,US-2017-109484,2017-11-06,JR-15700,Гишүүн,Хан-Уул,"Компот варенье, хүүхдийн тэжээл",Hainich нухаш,3300,1,0.03,3201.0
97,CA-2017-157833,2017-06-17,BM-11575,Хувь хүн,Хан-Уул,"Набор, шоколад, бохь",Монстров 23 гр,500,3,0.00,1500.0
98,CA-2016-149223,2016-09-06,CV-12805,Байгууллага,Чингэлтэй,Архи пиво,Арвай 0.100,2000,6,0.00,12000.0
99,CA-2016-158568,2016-08-29,DK-12835,Гишүүн,Чингэлтэй,Бэлэн гоймон,Тэйсти гоймон 110 гр,1800,7,0.03,12222.0

In [10]:
df[df['Product Name'].duplicated(keep = False)]

,Order ID,Order Date,Customer ID,Segment,Region,Category,Product Name,Price,Quantity,Discount,Sales
5,CA-2014-115812,2014-06-09,RH-19600,Хувь хүн,Хан-Уул,Жимс ногоо,Помидор том,4000,7,0.00,28000.0
15,US-2015-118983,2015-11-22,RB-19570,Гишүүн,Чингэлтэй,Ундаа ус,Алое шилтэй 180 мл,1100,3,0.03,3201.0
31,US-2015-150630,2015-09-17,JK-15625,Хувь хүн,Сүхбаатар,Жимс ногоо,Помидор том,4000,6,0.00,24000.0
32,US-2015-150630,2015-09-17,JK-15625,Хувь хүн,Сүхбаатар,Ундаа ус,Arizona лаазтай 680 мл,2500,6,0.00,15000.0
39,CA-2015-117415,2015-12-27,CS-12355,Гишүүн,Чингэлтэй,Архи пиво,Хараа 0.75 цэвэр,11500,3,0.03,33465.0
43,CA-2017-139619,2017-09-19,JD-15895,Байгууллага,Баянзүрх,Ундаа ус,Arizona лаазтай 680 мл,2500,2,0.00,5000.0
54,CA-2016-105816,2016-12-11,SR-20740,Байгууллага,Сүхбаатар,Амтлагч,Appetita будаатай хуурга,350,5,0.00,1750.0
71,CA-2017-114440,2017-09-14,DL-13315,Хувь хүн,Чингэлтэй,Самар чипс,Lays чипс 80 гр,2300,3,0.00,6900.0
72,US-2015-134026,2015-04-26,JL-15130,Хувь хүн,Баянзүрх,Ундаа ус,Алое шилтэй 180 мл,1100,8,0.00,8800.0
75,US-2017-118038,2017-12-09,BO-11425,Байгууллага,Чингэлтэй,Амтлагч,Appetita будаатай хуурга,350,3,0.00,1050.0
86,CA-2017-155558,2017-10-26,TS-21205,Хувь хүн,Чингэлтэй,Архи пиво,Хараа 0.75 цэвэр,11500,1,0.00,11500.0
96,CA-2017-161018,2017-11-09,AJ-10945,Гишүүн,Сүхбаатар,Самар чипс,Lays чипс 80 гр,2300,7,0.03,15617.0

In [11]:
df['Order ID'].nunique()

50

In [12]:
df.loc[:,['Product Name', 'Quantity']]

               Product Name  Quantity
0        Shokolinsen 250 гр         2
1       Хэрэглээ 00ийн цаас         3
2   Алимтай жигнэмэг 230 гр         2
3       Золотой янта 500 гр         5
4              Punch 450 мл         2
..                      ...       ...
95            Hainich нухаш         1
96          Lays чипс 80 гр         7
97           Монстров 23 гр         3
98              Арвай 0.100         6
99     Тэйсти гоймон 110 гр         7

[100 rows x 2 columns]

In [13]:
a = df.groupby(['Product Name']).sum()
a.reset_index(inplace = True)
a

                Product Name  Price  Quantity  Discount    Sales
0            370 Жүүс 370 мл    850         5      0.00   4250.0
1           3н өнгийн алчуур   1100         3      0.00   3300.0
2                A vodka 0.5   9000         3      0.00  27000.0
3          Akuku резин 90 гр   1500         3      0.00   4500.0
4   Appetita будаатай хуурга    700         8      0.00   2800.0
..                       ...    ...       ...       ...      ...
89              Эгоист 65 гр    900         5      0.00   4500.0
90       Үзгэн бал арилгадаг   2500         6      0.00  15000.0
91                 Өглөө сүү   2600         3      0.03   7566.0
92               Өгөөж вафли   1950         6      0.00  11700.0
93             Өгөөж танзуур   3000         3      0.00   9000.0

[94 rows x 5 columns]

In [14]:
a.loc[a['Product Name'] == 'Өглөө сүү', 'Quantity']

91    3
Name: Quantity, dtype: int64